:80 {
	root * /srv

	encode zstd gzip

	handle /api/* {
		reverse_proxy api:3000
	}

	handle {
		try_files {path} /index.html
		file_server
	}

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
		X-Frame-Options DENY
	}
}
